<%= form_for(@inventory_record) do |f| %>
  <% if @inventory_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory_record.errors.count, "error") %> prohibited this inventory record from being saved:</h2>

      <ul>
      <% @inventory_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.collection_select(:user_id, User.all, :id, :display_name, {include_blank: true}) %>

  </div>
  <div class="field">
    <%= f.label :inventory %><br />
    <%= f.collection_select(:inventory_id, Inventory.all, :id, :name, {include_blank: true}) %>
  </div>
  <div class="field">
    <%= f.label :inventory_status %><br />
    <%= f.collection_select(:inventory_status_id, InventoryStatus.all, :id, :name, {include_blank: true}) %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.collection_select(:location_id, Location.all, :id, :name, {include_blank: true})%>
    
  </div>
  <!-- 
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div> 
  -->
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
