<%= form_for(@inventory_record) do |f| %>
  <% if @inventory_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory_record.errors.count, "error") %> prohibited this inventory_record from being saved:</h2>

      <ul>
      <% @inventory_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :inventory %><br />
    <%= f.text_field :inventory %>
  </div>
  <div class="field">
    <%= f.label :inventory_status %><br />
    <%= f.text_field :inventory_status %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
